@charset "utf-8";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    height: 100%;
    --font-text: "Roboto", sans-serif;
    --font-titular: "Vina Sans", sans-serif;
    --bg-color: #262626;
    --bg-color2: rgb(127, 255, 212);
    --bg-color3: rgb(16, 141, 108);
    --border-color: rgba(139, 139, 139, 0.758);
    --font-color: #a32c2c;
    --font-color2:  #d7ac61;
    --font-color3: #cf4141;
    --font-precio: rgba(187, 185, 185, 0.913);
}


body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-text);
    width: 100%;
    min-height: 100vh;
    background-color:var(--bg-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 65vh 1fr 20vh;
    grid-template-areas:
        "navegador"
        "header"
        "main"
        "footer";
}


/*NAVEGADOR PRINCIPAL*/
nav{
    text-transform: uppercase;
    background-color: var(--bg-color);
    grid-area: navegador;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: center;   
}

nav>p{
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: 100;
    width: 100%;
    color: var(--font-color);
    font-family: var(--font-titular);
}

nav>ul{
    display: none;
    justify-self: right;
    width: 100%;

}

ul li{
    display: inline;
    padding-left: 2rem;
}

li a{
    text-decoration: none;
    color: var(--font-color2);
    font-weight: 600;
}

a:hover{
    color: var(--font-color3);
    cursor: pointer;
}

header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center bottom;
    background-color:var(--bg-color);
    grid-area: header;
    display: grid;
}

h1{
    font-family: var(--font-titular);
    color:var(--font-color3);
    font-size: 2rem;
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 100;
}

nav span.material-symbols-outlined{
    font-size: 2.5em;
    color: var(--font-color);
}


h2{
    font-weight: 100;
    font-family: var(--font-titular);
    color: var(--font-color2);
    font-size: 2rem;
}


/*MAIN*/
main{
    display: grid;
    grid-area: main;
    width: 90%;
    justify-self: center;
    overflow: hidden;
}


/* TOP SELLERS / COLLECTORS*/
#contenedor-top-sellers,
#contenedor-collector-items{
    margin-top: 2rem;   
    margin-bottom: 2rem;
    max-width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
}

#contenedor-top-sellers>h2,
#contenedor-collector-items>h2{
    display: inline-block;
    width: 100%;

}

.tarjeta-precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    flex: 1 1 5%;
}
.tarjeta-precio>div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.tarjeta-precio>div button{
    text-align: center;
    width: 70%;
    border-radius: 1rem;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    color: var(--font-precio);
    justify-self: flex-end;
}

.tarjeta-precio>div button:hover{
    cursor: pointer;
    background-color: var(--bg-color3);
    color: var(--font-precio);
    transition: ease 0.4s;
}

.tarjeta-precio>div p{
    justify-self: flex-start;
    color: var(--font-precio);
    font-weight: 900;
}

.tarjeta-precio h2{
    display: none;
    align-self: center;
    position: absolute;
    background-color:var(--bg-color2);
    z-index: 100;
}

#banner-coleccionistas img{
    margin-top: 5rem;
    justify-self: center;
    max-width: 100%;
}


/* FORM /INPUTS */
fieldset{
    border: none;
    text-transform: uppercase;
}

label{
    color: var(--font-precio);
    display: block;
}

input,textarea{
    border: none;
    border-bottom: 1px solid var(--font-precio);
}


fieldset button{
    border: none;
    color: var(--font-color2);
    background-color: var(--bg-color);

}

fieldset button:hover{
    color: var(--bg-color);
    background-color: var(--font-color2);
}

/*FOOTER*/
footer{
    color: var(--font-precio);
    background-color: var(--bg-color);
    grid-area: footer;
    justify-items: center;
    align-content: center;
}

footer img{
    border-radius: 60px;
}

/*MEDIA-Q TABLET*/

@media(min-width: 768px){
    #contenedor-top-sellers,
    #contenedor-collector-items{
        flex-direction: row;
    }
}

@media(min-width: 768px){
    #contenedor-top-sellers,
    #contenedor-collector-items{
        flex-direction: row;
    }
}

/*MEDIA-Q DESKTOP*/

@media(min-width: 1024px){
    #contenedor-top-sellers,
    #contenedor-collector-items{
        max-width: 95%;
        gap: 3rem;
        margin-top: 5rem;   
        margin-bottom: 10rem;
    }

    .tarjeta-precio{
        margin-bottom: 3rem;
    }

    nav{
        width: 70%;
        border-radius: 0% 0% 0.5rem 0.5rem;
    }

    nav span.material-symbols-outlined{
        display: none;
    }

    nav>ul{
        display: inline;
    }

    nav>p{
        font-size: 2.5rem;
        padding-left: 2rem;
        font-weight: 100;
        width: 50%;
        color: var(--font-color);
        font-family: var(--font-titular);
    }
    h1{
        font-family: var(--font-titular);
        color:var(--font-color3);
        font-size: 5rem;
        justify-self: flex-end;
        align-self: flex-end;
        padding-right: 2rem;
        padding-bottom: 0.2rem;
        font-weight: 100;
    }

    header{
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-position: center bottom;
    }

    main{
        width: 70%;
    }
}

