@charset "utf-8";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-text: "Arial", sans-serif;
    --font-titular: "Times New Roman", serif;
    scroll-behavior: smooth;
    height: 100%;
}


body {
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-text);
    width: 100%;
    min-height: 100vh;
    background-color: #f8f2e9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 65vh 1fr 20vh;
    grid-template-areas:
        "navegador"
        "header"
        "main"
        "footer";
}
/*NAVEGADOR PRINCIPAL*/
nav{
    background-color: #333;
    grid-area: navegador;
    justify-items: center;
    align-content: center;
    position: sticky;
    top: 0;
}

ul li{
    display: inline;
    padding-left: 2rem;
}

li a{
    text-decoration: none;
    color: #eee;
    font-weight: 600;
}

a:hover{
    color: rgb(34, 215, 37);
}

header{
    background-image: url(../img/ejemplo-header.webp);
    background-position:center bottom;
    background-color: black;
    grid-area: header;
    display: grid;
}

h1{
    display: none;
    color: #ebebeb;
    font-size: 6rem;
    justify-self: flex-end;
    align-self: flex-end;
}


/*MAIN*/

main{
    display: grid;
    grid-area: main;
    width: 70%;
    justify-self: center;
    overflow: hidden;
}

/* TOP SELLERS / COLLECTORS*/


#contenedor-top-sellers,
#contenedor-collector-items{
    max-width: 95%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
}

#contenedor-top-sellers>h2,
#contenedor-collector-items>h2{
    display: inline-block;
    width: 100%;

}

.tarjeta-precio{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tarjeta-precio>div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.tarjeta-precio>div button{
    text-align: center;
    width: 55%;
    justify-self: center;
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: green;
    color: white;
}

.tarjeta-precio>div button:hover{
    cursor: pointer;
    background-color: rgb(101, 148, 29);
}

.tarjeta-precio>div p{
    font-weight: 900;
}

.tarjeta-precio h2{
    display: none;
}

#banner-coleccionistas img{
    margin-top: 5rem;
    justify-self: center;
    max-width: 100%;
}


/*FOOTER*/
footer{
    background-color: rgb(49, 51, 51);
    grid-area: footer;
    justify-items: center;
    align-content: center;
}

/*MEDIA QUERIES*/

@media(min-width: 1024px){
    #contenedor-top-sellers,
    #contenedor-collector-items{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 5rem;   
        margin-bottom: 5rem;
    }
}

